#blog h1{
	text-align:center;
	font-size: 50px;
	font-family:Gill Sans Extrabold, Helvetica, sans-serif;
	 background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
    #thead{
    color: white;
    }
     #tbody{
    color: white;
    }
     #tfoot{
    color: white;
	}
	
#table{	
	font-family: arial;
    text-align: center;
border-color: whitesmoke;
border: groove 1em whitesmoke;  
  border-radius: 2em;
}
a:hover {
    font-size:20px;
    color:rgb(245, 239, 239);
  }
  @media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
#content{
	width: 90%;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 30px;
	position: center;
	z-index: 100;
	opacity: .60;
}
#blog{
	margin: auto;
	background-image: url("BackG2.jpg");
	background-repeat: repeat;
	background-size: 100%;
	color: #fff;
	padding: 10px;

}
#blog a{
	color: white;
}


	#table{
		width: 98%;
		padding: 10px;
		margin: 10px;
    overflow: hidden;
    border-color: #f0f0f0;
		
	}
#blog h1{
	text-align: center;
}/*

/*Responsive*/
@media (min-width: 480px) {
	#blog-content2 {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	#blog-content2 {
		width: auto;
	}
	
}
#blog .content2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}*/
/*
img:hover{
	opacity: 0.5
}*/
	/*#blog{
		padding-bottom: 10%;
		background-image: url("BackG2.jpg");
		background-repeat: repeat;
		background-size: 100%;	
	}
	#particulas-JS{
		height: 100vh;
		width: 100%;
		position: fixed;
		z-index: -1;
	  }*/
/*Responsive

@media (min-width: 480px) {
	#table {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	#table {
		width: auto;
	}
	
}
@media (min-width: 480px) {
	#cuerpo {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	#cuerpo {
		width: auto;
	}
	
}*//*
.content2{
		width: 98%;
		margin: auto;
		overflow: hidden;
		
	}*/
/*
#blog article{
	margin: 20px;
}*//*
#blog img{
		width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 0.1rem solid #fff;
}*/
/*#blog a{
	color: white;
}*/