#blog h1{
	text-align:center;
	font-size: 50px;
	font-family:Gill Sans Extrabold, Helvetica, sans-serif;
	 background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
    #thead{
    color: white;
    }
     #tbody{
    color: white;
    }
     #tfoot{
    color: white;
	}
	
#table{	
	font-family: arial;
    text-align: center;
border-color: whitesmoke;
border: groove 1em whitesmoke;  
  border-radius: 2em;
}
a:hover {
    font-size:20px;
    color:rgb(245, 239, 239);
  }
  @media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
    @media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    tfoot td{
    	display: block;
    	text-align: center;
    }
    tfoot td:before{
    	vertical-align: inherit;
    	content: attr(data-th);
    	display: block;
    	text-align: center;
    }
}
#content{
	width: 100%;
	max-width: 900;
	margin-left: 1px;
	margin-right: 10px;
	padding: auto;
	position: inherit;
	z-index: 0.99;
	opacity: .60;
}
#blog{
	background-image: url("BackG2.jpg");
	background-repeat: repeat;
	background-size: 100%;


}
#blog a{
	color: white;
}


	#table{
		width: 100%;
		
		
		margin-right: 10px;
		padding-right: 10px;
    overflow: auto;
    border-color: #f0f0f0;
		
	}
#blog h1{
	text-align: center;
}/*
/*Responsive*/
@media (min-width: 480px) {
	#blog-content2 {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	#blog-content2 {
		width: 50%;
	}
	
}
#blog .content2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
